# Build directory
build/
out/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Output files
*.hex
*.bin
*.uf2
*.dis
*.elf
*.map

# Ignore everything in lib/ except FreeRTOS-Kernel
lib/*
!lib/FreeRTOS-Kernel/

